<ion-header [translucent]="true">
  <ion-toolbar>
    <br>
    <ion-title>
      Dale Refresh!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dale Refresh!
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <br>
    <ion-grid>
      <ion-row>
        <ion-col>
          <app-perritos></app-perritos>
        </ion-col>
        <ion-col>
          <app-perritos></app-perritos>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <app-perritos></app-perritos>
        </ion-col>
      </ion-row>
    </ion-grid>
</div> 
</ion-content>
